body {
  font-family: veranda, sans-serif;
}

.data-tables {
  width: 100%;
}

.data-table {
  width: 48%;
  display: inline-block;
}

#data-table , th, td {
  border: 1px solid black;
}

#data-table {
  border-collapse: collapse;
}

#wall-of-shame , th, td {
  border: 1px solid black;
}

#wall-of-shame {
  border-collapse: collapse;
}
