body {
  font-family: veranda, sans-serif;
  margin: 0;
}

.image-container h1, h2 {
  margin: 0;
}

.image-container {
  background-size: cover;
  background: url(village-cricket.jpg) no-repeat center center fixed;
  height:100vh;
  position: relative;
}

.header {
  max-width: 40vw;
  margin: auto;
  position: absolute;
  top: 40vh;
  left: 30vw;
}

.sub-header {
  max-width: 40vw;
  margin: auto;
  position: absolute;
  top: 60vh;
  left: 30vw;
}

.data-tables {
  width: 100%;
}

.data-table {
  width: 48%;
  display: inline-block;
}

#data-table , th, td {
  border: 1px solid black;
}

#data-table {
  border-collapse: collapse;
}

#wall-of-shame , th, td {
  border: 1px solid black;
}

#wall-of-shame {
  border-collapse: collapse;
}
